{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/about.css')}}"> {% endblock %}
{% block title %}About US{% endblock %}

{% block body %}
        <!---h1--->
<div class="container">
        <hr>
        <h4>
            Program~Hub
        </h4>
                    <hr>
        <p>
             This is a blog writing site for new and old programmers alike. It feautures blogs on different coding problems and innovative technological updates.
        </p>
       <hr>
                    <h3>
                        AIM
                    </h3>
                    <p>
                    To help find to quickly find answers to a problem when stuck..
                    </p>
                    <hr>

                    <h3>
                            HELPING DEVELOPERS AND TECHNOLOGISTS.
                    </h3>
                    <p>
                        This is a community built for developers by developers. It is built for programmers to write blogs on projects they're working or are done with in order to present others with similar problems advice on how to tackle those problems in an easy and efficient. Program~Hub  also allows individuals to present and write blogs on new pieces of technology and innovation, frameworks and libraries etc....prog~hub feautures blogs on a wide range of topics in the tech world making it a one stop for all nerds, geeks and tech enthusiasts alike.
                    </p>
                    <hr>

                    <h3>
                        IF YOU CAN'T FIGURE IT.
                    </h3>
                    <p>
                        Program~Hub was built to be very user friendly with intuitive navigation links and ease of access to content . Therefore, making it the best for beginners, intermediates and all those who come for assistance on any problem, Program~Hub  is also the best avenue for experienced programmers to help upcoming coders and help grow the community.
                    </p>
                    <p>
                        With you we can make it better.
                    </p>
                    <hr>
                    <h3>
                            HOW YOU CAN MAKE THE COMMUNITY BETTER.
                    </h3>
                    <p>
                        We would appreciate if you wrote blogs about problems you've encountered.
                        We would also appreciate your help if you didn't find answers in the hub but wrote a blog about it after getting from an external source.
                    </p>
                    <p>
                        <b>With you we can make it better.</b>
                    </p>

                            <div class="jumbotron">
                        <center>
                            <h4>
                           Contact US.
                                 </h4>
                            <div class="contact">
                                <a href="https://facebook.com/Program_Hub-134447771692796"><img src="{{url_for('static',filename='assets/fb.jpg')}}" alt="facebook"></a>
                                <a href="#"><img src="{{url_for('static',filename='assets/instagram.jpg')}}" alt="instagram"></a>
                                <a href="#"><img src="{{url_for('static',filename='assets/twitter.jpg')}}" alt="twitter"></a>
                            </div>

                            <div class="contact">
                                <img src="{{url_for('static',filename='assets/gmail.jpg')}}" alt="twitter">
                                <p>Awogbami Victor => Emrysqeens@gmail.com</p>
                                <p>Edem Gold => Nile2406@gmail.com</p>
                                <p>Program~Hub => Program.hub@gmail.com</p>
                            </div>
                        </center>
                            </div>

                    
                    <h3 class='end'>
                        <strong>
                            <center>
                                <hr>
                                    Qeens INC
                                <hr>
                            </center>
                        </strong>
                    </h3>
    </div>
    
{% endblock %}