{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/admin.css')}}"> {% endblock %}
{% block script %}
<script src="{{url_for('static',filename='scripts/admin.js')}}"></script>
{% endblock %}
{% block title %}Admin{% endblock %}

{% block body %}
<div class="jumbotron flex justify-content-center align-items-center jumbotrons contain" height="100%">
<div class="jumbotron login ">
    <form action="{{url}}" method="POST">
  <div class="form-group">
    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="E-mail">
   </div>
  <div class="form-group">
    <input type="password" class="form-control"name="password" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button class="btn btn-secondary sm"><small>Login</small></button>
</form>
    <p style="padding: 5px;">{{wrong}}</p>
</div>
</div>
{% endblock %}