{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/blogs.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='styles/view.css')}}"> {% endblock %}
{% block script %}
<script src="{{url_for('static',filename='scripts/http/request.js')}}"></script>
<script src="{{url_for('static',filename='scripts/blogs.js')}}"></script>
<script src="{{url_for('static',filename='scripts/loader.js')}}"></script>
{% endblock %}
{% block title %}Blogs{% endblock %}

{% block body %}
<div class="jumbotron flex justify-content-center align-items-center jumbotrons" height="100%">
<div class="jumbotron flex justify-content-center align-items-center jumbotron-fluid hd">
    <h3>{{title}}</h3>
</div>

<div class="container">
    <span id="ld"></span>
    {% for blog in blogs %}
    <div class="jumbotron flex justify-content-center align-items-center per-blog div-blog " id="blog-{{blog['id']}}" data-toggle="modal"
                                                                        data-target="#exampleModalCenter" data-blog="{{blog['id']}}" >
        <h3 class="title">{{blog['title'] | safe }}</h3>
        <div style="display: flow-root;"><hr></div>
        <p>By {{blog['name']}}</p>
        <p>{{blog['date']}} </p>
        <p>{{blog['email']}}</p>
    </div>
    {% endfor %}
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered"  role="document">
                <div class="modal-content">
                        <div class="jumbotron" style="display: none; color: white; padding: 16px 8px; position: absolute; top: 5px; left: 5px;" id="alert">
                <h4 class='pid' id="msg_h"></h4>
                <p class='pid' id="msg_b"></p>
                <hr>
                <p class='pid' id="msg_f"></p>
            </div>
                        <div class="modal-header">
                            <div><span id='loader' style="float:right;"></span></div>
                                <h3 class="modal-title" id="titlep"></h3>
                                <p id="namep"></p>
                                <p id="emailp"></p>
                        </div>
                        <div class="modal-body" style="position: initial;">
                                <div class="jumbotron justify-content-center align-items-center per-code" id="preview" data-admin="{{admin}}">
                                        <div id="content">

                                        </div>
                                </div>
                            {% if admin %}
                            <form method="POST" action="/edit" >
                                <input type="hidden" name="id" id="id" value="1">
                                <button type="submit" class="btn btn-secondary btn-sm edit" style="float:left;margin:2px" disabled id="edit" >Edit</button>
                            </form>
                            <button type="button" class="btn btn-primary btn-sm" style="float:right;margin:2px" id="add" disabled>Commit</button>
                            <button type="button" class="btn btn-danger btn-sm" style="float:right;margin:2px" id="delete" disabled>Delete</button>
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="dismiss">Dismiss</button>
                        </div>
                </div>
        </div>
</div>
</div>
{% endblock %}