{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/blog.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='styles/view.css')}}">
{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='scripts/blog.js')}}"></script>
<script src="{{url_for('static',filename='scripts/editor.js')}}"></script>
<script src="{{url_for('static',filename='scripts/loader.js')}}"></script>
<script src="{{url_for('static',filename='scripts/http/request.js')}}"></script>
{% endblock %}
{% block title %}New Blog{% endblock %}

{% block body %}
<div class="jumbotron flex justify-content-center align-items-center jumbotrons" height="100%">
        <div class="jumbotron" style="display:none; color:white; padding: 16px 8px; position:absolute; margin-top:3vw;" id="alert">
                <h4 class='pid' id="msg_h"></h4>
                <p class='pid' id="msg_b"></p>
                <hr>
                <p class='pid' id="msg_f"></p>
                <button class="btn btn-sm btn-secondary btns" id="close" style="margin-top:3vw;">Close</button>
        </div>
        <h3 class="">Create new Blog..</h3>
        <form>
                <input class="form-control form-control-lg nm" type="text" placeholder="Full Name" id="name" name="name" autocomplete="off" {{read}} value="{{blog['name']}}">
                <p style="padding-left:5px;">Full name separated by Space no Punctuations </p>
                <br>
                <input class="form-control form-control-sm" type="email" placeholder="Mail" name="mail" id='email' autocomplete="off" {{read}} value="{{blog['email']}}">
                <br>
                <input class="form-control form-control-sm" type="text" placeholder="Title" name="title" id='title' autocomplete="off" maxlength="255" {{read}} value="{{blog['title']}}">
                <br>
                <div id="blog_cont">
                        <div id="blog_content" class="form-control form-control-sm">

                        </div>
                        <section class="blog_container">
                                <div class="btn_section">
                                        <button type="button" class="btn btn-secondary btn-sm btns"
                                                id="create" value="{{blog['id']}}" disabled><small>{{save}}</small></button>
                                         <button type="button" class="btn btn-secondary btn-sm btns"
                                                id="btn_preview" value="{{blog['id']}}"  data-toggle="modal"
                                                                        data-target="#exampleModalCenter" disabled><small>Preview</small></button>
                                </div>
                                <div class="edit_section">
                                        <ul class="nav justify-content-end">
                                                <li class="nav-item">
                                                        <div class="form-check form-check-inline in">
                                                                <span id="loader"></span>
                                                        </div>
                                                </li>
                                        </ul>
                                </div>
                        </section>
                </div>
        </form>

</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <div class="modal-header">
                                <h3 class="modal-title" id="titlep"></h3>
                                <p id="namep"></p>
                                <p id="emailp"></p>
                        </div>
                        </div>
                        <div class="modal-body">
                                <div class="jumbotron justify-content-center align-items-center preview" id="preview">
                                        <div id="content">

                                        </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Dismiss</button>
                        </div>
                </div>
        </div>
</div>

<div id="hold" style="display:none;">
        {{blog['content'] | safe }}
</div>
{% endblock %}