{% extends 'base.html' %}

<!-- /learn -->
{% block title %}
{% if templates %}Learn{% else %}
{{cs.title}}
{% endif %}
{% endblock %}
{% block style %}
    {% if templates %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/learn.css')}}">
    {% else %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/learn_full.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/view.css')}}">
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{{url_for('static', filename='scripts/http/request.js')}}"></script>
    {% if templates %}
    <script src="{{url_for('static', filename='scripts/learn_templates.js')}}"></script>
    {% else %}
    <script src="{{url_for('static', filename='scripts/learn_full.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/popup.js')}}"></script>
    {% endif %}

{% endblock %}

{% block body %}
    <div class="container jumbotrons" style="padding-bottom: 10px;">
    {% if templates %}
    <div class="cont">
        {% for l in learn %}
            <div class="jumbotron jumb">
            {% if admin %}
            <a href="/edit/learn/{{l['title']}}">
            {% else %}
            <a href="/learn/{{l['title']}}">
            {% endif %}
                <div class="img">
                <img src="{{l['img']}}" class="img_logo"  alt="Template image">
                </div>
                <div class="text">
                <span class="header">{{l['title']}}</span>
                <span class="pre_content">{{g.trim(g.trim_(l['content'][:155]))}}</span>
                </div>
              </a>
                <div class="btns" data-id="{{l['id']}}">
                    <button class="upvote b" id="upvote" style="outline: none;">
                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-chevron-double-up" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                            <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                        </svg>
                        <span id="u_votes">{{l.votes(True)}}</span>
                    </button>
                    <button class="downvote b" id="downvote" style="outline: none;">
                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <span id="d_votes">{{l.votes(False)}}</span>
                    </button>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
            <div class="jumbotron" style="display:none; color:white; padding: 16px 8px; position:absolute; margin-top:3vw;" id="alert">
                <h4 class='pid' id="msg_h"></h4>
                <p class='pid' id="msg_b"></p>
                <hr>
                <p class='pid' id="msg_f"></p>
                <button class="btn btn-sm btn-secondary btns" id="close" style="margin-top:3vw;">Close</button>
            </div>
            <img id="img" alt="..." src="{{cs.img}}">
            <h2 id="title">{{cs.title}}</h2>
            <div id="content_full">
                {{cs.content | safe }}
            </div>
            <div id="controls" data-id="{{pos}}" data-lent="{{lent}}">
                <button id="prev" class="btn btn-secondary btn-sm c" {{p}}>P</button>
                <button id="next" class="btn btn-secondary btn-sm c" {{n}}>N</button>
                {% if admin %}
                <form action="/edit" method="POST" style="text-align: center;">
                <input type="hidden" name="id_" id="id_" value="{{cs.id}}">
                <button id="edit" class="btn btn-secondary btn-sm c" {{n}}>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </button>
                </form>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
