{% extends 'base.html' %}

{% block style %}<link rel="stylesheet" href="{{url_for('static',filename='styles/learn.css')}}"> {% endblock %}

{% block body %}
    <div class="container jumbotrons" style="padding-bottom: 10px;">
        {% for l in range(learn) %}
            <div class="jumbotron jumb">
                <div class="img">
                <img src="https://stackabuse.s3.amazonaws.com/media/encoding-and-decoding-base64-strings-python-1.png" class="img_logo"  alt="Responsive image">
                </div>
                <div id="text">
                <span id="header">Base 64 Encoding</span>
                <span id="pre_content">In computer science, Base64 is a group of binary-to-text encoding schemes that represent binary data in an ASCII string format by translating it into a radix-64 representation.</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
