{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='scripts/search.js')}}"></script>
<script src="{{url_for('static', filename='scripts/loader.js')}}"></script>
<script src="{{url_for('static', filename='scripts/http/request.js')}}"></script>
{% endblock %}
{% block style %}<link rel="stylesheet" href="{{url_for('static',filename='styles/search.css')}}"> {% endblock %}

{% block body %}
    <div class="container jumbotrons" style="padding-top:5px;">
        <p>For search by error code please add the identifier <b>is:err</b> to your query and <b>is:quest</b> for questions</p>
        <p>For search through TechNews or Cslearn use prefix is:title only as is:err returns <b>NAN</b></p>
        <ul>
            <li> <b> is:err 0bxfdsx. </b></li>
            <li> <b> is:title null pointer exception in java. </b></li>
        </ul>
        <form action="{{url_for('search')}}" method="POST">
            <div class="form-group">
                <select class="form-control select" name="t" id="relate">
                        <option value="NAN" disabled selected>Operating System</option>
                        <option value="android">Android</option>
                        <option value="windows">Windows</option>
                        <option value="linux">Linux</option>
                        <option value="ios">Apple</option>
                        <option value="NAN" disabled>Programming Languages</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option>
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="c#">C#</option>
                        <option value="php">Php</option>
                        <option value="javascript">Javascript</option>
                        <option value="kotlin">Kotlin</option>
                        <option value="NAN" disabled>Learn</option>
                        <option value="tn">Tech News</option>
                        <option value="cs">CS Learn</option>
                </select>
            </div>
            <div style="position: relative;">
            <div class="form-group grp">
                <input class="form-control form-control-sm search" id="textbox" name='q' autocomplete="off" placeholder="Query" type="search" readonly>
                <button type="submit" id="btn" class="btn btn-secondary btn-sm search" id="search" disabled >Search</button>
            </div>
            <div style="" id="suggestions">
            </div>
            </div>
        </form>
    </div>
{% endblock %}