.hd{
    height: 5%;
    min-height: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    margin: 5px;
}

.per-blog{
    margin: 5px;
    padding-top:5px;
    padding-bottom:5px;
}

  .image>figcaption{
    padding:0.2vw;
    text-align:center;
}

th{
    background: whitesmoke;
}

.table>table{
    width:100%;
    border:3px solid gray;
}


 .modal-header{
    display:block;
 }

.per-code{
    padding-right: 10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}

#titlep,#namep,#emailp{
    margin:0;
}

#preview{
    padding-top:0;
}

#preview>p{
    margin:3px;
}

img{
    width:100%;
}

.per-blog > p{
    margin-bottom: 2px;
}

.per-blog > div > hr{
    margin-bottom: 5px;
    margin-top: 0px;
}

.per-blog > h3{
    margin-bottom: 3px;
    border-width: medium;
}