#img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.container{
    padding-top: 15px;
    text-align: center;
}

#title{
    padding: inherit;
}

#content_full{
    text-align: initial;
}


#controls{
    text-align: initial;
}

#prev{
    display: inline;
}

#next{
    display: inline;
    float: right;
}

.svg{
    padding-top: 4px;
}
