.jumb{
    display: inline-block;
    width: 160px;
    margin-bottom: 10px;
    height: 250px;
    padding: 10px;
    background: linear-gradient(#42275a, #734b6d);
    position: relative;
}

.img_logo{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}

.container{
    padding-top: 15px;
    text-align: center;
}

.text{
    color: #ffffff
}

.header{
    font-size: 15px;
    text-align: center;
}

.pre_content{
    display: inline-block;
    margin-bottom: 5px;
}

.btns{
    position: absolute;
    width: 140px;
    bottom: 0;
}

.upvote{
    float: left;
    border: none;
    background: transparent;
}

.downvote{
    float: right;
    border: none;
    background: transparent;
}

