.jumb{
    display: inline-block;
    width: 160px;
    margin-bottom: 10px;
    height: 250px;
    padding: 10px;
    background: linear-gradient(#42275a, #734b6d)
}

.img_logo{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}

.container{
    padding-top: 15px;
    text-align: center;
}

#text{
    color: #ffffff
}

#header{
    font-size: 15px;
    text-align: center;
}

#pre_content{
    display: inline-block;
}