@keyframes open{
    0%{
        opacity:0;
        height:0%;
        line-height:0%;
        padding:0vw;}
    75%{
        opacity:1;
        height:0%;
        line-height:0%;
        padding:0vw;
    }
    100%{
        opacity:1;
        height:auto;
        line-height:auto;
        padding:16px 8px;
        top:5px;
    }
}

@keyframes close{
    from{
        opacity:1;
        height:auto;
        line-height:auto;
        padding:16px 8px;
    }
    to{
        opacity:0;
        height:0px;
        line-height:0px;
        padding:0px;
    }
}

#alert{
    animation-name:open;
    animation-play-state=paused;
    animation-fill-mode:forwards;
    animation-duration:2s;
    opacity:0;
    height:0%;
    line-height:0%;
    margin:0vw;
    padding:0vw;
}

.image{
    text-align: center;
    margin:2px;
    padding:5px;

}

.image>img{
    border-radius: 3px;
    width: auto;
    max-width: 300px;
}

#content hr{
    height:4px;
    margin: 5px 0 10px 0;
    background: #dedede;
}

.image>figcaption{
    padding:0.2vw;
    text-align:center;
}

th{
    background: whitesmoke;
}

.table{
    text-align: center;
    text-align: -webkit-center;
}

.table>table{
    border: 3px solid gray;
    border-radius: 2px;
    padding: 5px;
    width: auto;
    max-width: 90%;
}

.table{
    overflow-x: auto;
    font-size: 11px;
}

#preview{
    padding: 5px;
}

#content p{
    overflow-x: auto;
}

#content *{
    margin:3px;
}



td, tr, th{
    border: 3px solid gray;
}

figcaption{
    font-size: 10px;
}

pre{
    font-size: 11px;
    overflow-x: auto;
    padding-bottom: 10px;
    background: white;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 3px;
    max-height: 300px;
    overflow-y: auto;
}

 #content{
    padding-top:5px;
    padding-right:10px;
    display:block;
 }

 .btn{
    font-size: .675rem;
 }